@media (max-width: 1600px)
  .item
    width: calc((100% - 120px)/4)

@media (max-width: 1280px)
  .item
    width: calc((100% - 90px)/3)

@media (max-width: 1000px)
  .item
    width: calc((100% - 60px)/2)

@media (max-width: 730px)
  .item
    width: calc((100% - 60px))